.itemContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;

    padding-left: 30px;
    margin-bottom: 200px;

    justify-items: center;
}

.info {
    justify-self: start;
    align-self: center;
    text-align: left;
    width: 330px;
    height: auto;
    padding: 20px;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.03);
}

.description {
    padding: 10px;
    height: auto;
    width: 100%;
}

@media (max-width: 900px) {
    .shadow {
        margin: auto;
    }

    .itemContainer {
        justify-items: center;
        padding-left: 0px;
        margin: auto;
    }

    .info {
        width: 330px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .description {
        width: 100%;
    }
}